@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home Awaits</h1>
    <p>This is the future home page for Home Awaits. You're trusted SoCal real estate leader.</p>
</div>